.project
.pydevproject
.idea/.name
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.vscode/settings.json
controllers/wsp.code-workspace
controllers/__pycache__/__init__.cpython-36.pyc
controllers/__pycache__/main.cpython-36.pyc
docs/RELEASE_NOTES.md
models/__pycache__/__init__.cpython-36.pyc
models/__pycache__/contract_partner.cpython-36.pyc
models/__pycache__/hr_attendance.cpython-36.pyc
models/__pycache__/hr_casual.cpython-36.pyc
models/__pycache__/hr_employee.cpython-36.pyc
models/__pycache__/hr_recrutement.cpython-36.pyc
models/__pycache__/hrms_dashboard.cpython-36.pyc
models/__pycache__/leave.cpython-36.pyc
models/__pycache__/mail_activity.cpython-36.pyc
report/__pycache__/__init__.cpython-36.pyc
report/__pycache__/broadfactor.cpython-36.pyc
